<h1>parcels</h1>
<form action="/parcels">
  <div class="form-group">
    <label for="length">length:</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">width:</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">height:</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">weight:</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="distance">distance:</label>
    <input id="distance" name="distance" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-warning">Submit</button>
</form>
